<div class="col-lg-10 col-md-8 col-sm-12 m-2 product-container mx-auto" *ngFor="let item of productData">
  <div class="row align-items-center">
    <div class="image-container col-lg-3 col-md-6 col-sm-12 m-5">
      <a><img class="card-img-top shadow-lg img-fluid rounded" [src]="item.image" alt="Card image cap"></a>
    </div>
    <div class="content col-lg-7 col-md-6 col-sm-12">
      <h5 class="card-title">{{item.category}}</h5>
      <h5 class="card-title">{{item.title}}</h5>
      <p><b class="card-text price">Price: {{ item.price | rupeeFormat }}</b></p>
      <button class="btn btn-primary mb-3 btn-size" (click)="adding()">Add to cart</button>
      <p class="card-text">{{item.description}}</p>
      <button class="btn btn-outline-secondary mb-3 btn-size" (click)="review()"> Review the product </button>
    </div>
  </div>
</div>
  
<div class="show-review p-4 w-75 mx-auto">
  <h2 class="p-2 mb-2">Product Reviews</h2>

  <!-- Display existing reviews (if any) -->
  <div class="existing-reviews">
    <div *ngFor="let review of reviewData; let i = index" class="review-item mb-3 p-4">
      <b>Review {{ i + 1 }} of {{ reviewData.length }}</b>

      <div class="user-info mt-3"> Name :
        <span class="user-name">{{ review.userName }}</span>
      </div>
      
      <!-- description -->
      <p class="review-text"> Review : {{ review.reviewText }}</p>

      <!-- date -->
      <p class="text-muted">Posted on {{ review.date | date: 'dd/MM/yyyy' }} at {{ review.date | date: 'h:mm a' }}</p>
      
      <!-- Increment the count as the loop iterates -->
    </div>
  </div>

</div>






