<div class="container mt-5">
    <!-- Add a new review -->
    <div class="give-review">
        <h3>Add Your Review</h3>
        <form [formGroup]="reviewForm">
            <div class="form-group">
                <label for="userName">Your Name</label>
                <input type="text" formControlName="userName" class="form-control form-field-shadow" required>
                <p *ngIf="getFormControl('userName')?.invalid && getFormControl('userName')?.touched"
                    class="error-message">
                    <ng-container *ngIf="getFormControl('userName')?.errors?.['required']">Username is
                        required.</ng-container>
                    <ng-container *ngIf="getFormControl('userName')?.errors?.['minlength']">
                        Username should have at least 3 characters.
                    </ng-container>
                    <ng-container *ngIf="getFormControl('userName')?.errors?.['maxlength']">
                        Username should have at most 15 characters.
                    </ng-container>
                </p>
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div class="ratings">
                    <i class="fa fa-star star-icon" (click)="setRating(1)" [class.checked]="selectedRating >= 1"></i>
                    <i class="fa fa-star star-icon" (click)="setRating(2)" [class.checked]="selectedRating >= 2"></i>
                    <i class="fa fa-star star-icon" (click)="setRating(3)" [class.checked]="selectedRating >= 3"></i>
                    <i class="fa fa-star star-icon" (click)="setRating(4)" [class.checked]="selectedRating >= 4"></i>
                    <i class="fa fa-star star-icon" (click)="setRating(5)" [class.checked]="selectedRating === 5"></i>
                </div>
            </div>

            <div class="form-group mt-4">
                <label for="reviewText">Your Review </label>
                <textarea formControlName="reviewText" class="form-control" rows="4" required></textarea>
                <p *ngIf="getFormControl('reviewText')?.invalid && getFormControl('reviewText')?.touched"
                    class="error-message">
                    <ng-container *ngIf="getFormControl('reviewText')?.errors?.['required']">description is
                        required.</ng-container>
                    <ng-container *ngIf="getFormControl('reviewText')?.errors?.['minlength']">
                        description is too short
                    </ng-container>
                    <ng-container *ngIf="getFormControl('reviewText')?.errors?.['maxlength']">
                        description is too long
                    </ng-container>
                </p>
            </div>

            <input type="hidden" formControlName="date">
            <input type="hidden" formControlName="ratingValue">

            <button type="submit" class="btn btn-primary" (click)="submitReview(reviewForm.value)"
                [disabled]="reviewForm.invalid">Submit
                Review</button>
        </form>
    </div>
</div>