.review-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 22px;
    box-shadow: 0px 0px 15px rgb(163 179 203 / 31%);
    border: 1px solid rgb(170 195 201);
  }
  
  .section-title {
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
  
  .star-icon {
    cursor: pointer;
    color: #ccc;
  }
  
  .star-icon.checked {
    color: #ffc107; /* Yellow color for checked stars */
  }
  
  textarea {
    resize: none;
  }
  
  .error-message {
    color: #f00;
    font-size: 14px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  

  .star-icon {
    cursor: pointer;
    transition: color 0.2s; 
  }
  
  .green-star {
    color: green;
    transition: color 0.2s; 
  }
  
  .orange-star {
    color: orange;
    transition: color 0.2s; 
  }
  
  .yellow-star {
    color: yellow;
    transition: color 0.2s; 
  }
  
  .brown-star {
    color: brown;
    transition: color 0.2s; 
  }
  
  .red-star {
    color: red;
    transition: color 0.2s; 
  }
  
  .gray-star {
    color: #ccc;
    transition: color 0.2s; 
  }
  