<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">

  <a class="navbar-brand mx-2">Logo</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="search mx-lg-5">
      <input class="form-control mr-sm-2" type="search" placeholder="Type to search items" aria-label="Search"
        (click)="hideSlider()" (input)="filterProductsByTitle($event)">
      <span class="search-icon">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <ul class="navbar-nav ml-auto">
      <div *ngIf="username">
        <li class="nav-item fs-6 m-3"><a class="nav-link" routerLink="layout/home" (click)="showSlider()">Home</a></li>
      </div>
      <li class="nav-item dropdown m-3" *ngIf="addProduct && username">
        <select class="form-select" (change)="navigateTo($event)">
          <option *ngFor="let optionAdd of addProductDropdown" [value]="optionAdd.value">{{ optionAdd.label }}</option>
        </select>
      </li>
      <li class="nav-item dropdown m-3" *ngIf="showProduct && username">
        <select class="form-select" (change)="navigateTo($event)">
          <option *ngFor="let optionShow of showProductDropdown" [value]="optionShow.value">{{ optionShow.label }}
          </option>
        </select>
      </li>

      <li class="nav-item fs-6 m-3"> <a class="nav-link" routerLink="/catlog/contact-us">Contact Us</a></li>
      <li class="nav-item fs-6 m-3"> <a class="nav-link" routerLink="/catlog/about-us">About Us</a></li>

      <div class="cart-container mt-3" *ngIf="username != 'Admin' && username != null">
        <i class="bi bi-cart3" routerLink="/catlog/add-to-cart">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3"
            viewBox="0 0 16 16">
            <path
              d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
        </i>
        <p class="badge badge-warning">{{ totalQuantity }}</p>
      </div>

      <li class="fs-6 mx-3 m-2" *ngIf="!username">
        <button class="btn btn-outline-primary m-2" routerLink="/user-auth/login">Login</button>
        <button class="btn btn-outline-primary m-2" type="submit" routerLink="/user-auth/register">Register</button>
      </li>

      <li class="fs-6 mx-3 m-2" *ngIf="username">
        <button class="btn btn-outline-primary m-2">{{ username }}</button>
        <button class="btn btn-outline-primary m-2" type="submit" (click)="logout()"
          routerLink="/user-auth/login">Logout</button>
      </li>
    </ul>
  </div>
</nav>