<div class="container my-5">
    <form class="payment-form p-4" [formGroup]="paymentForm" (ngSubmit)="submitPayment()">

        <div class="d-flex justify-content-center mb-4">
            <h5 class="heading px-3 py-2"><i class="fas fa-money-bill"></i> Payment</h5>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="productTitle"><i class="fas fa-tags"></i> Product Title</label>
                <input type="text" class="form-control" formControlName="title">
            </div>
            <div class="col-4">
                <label for="productCategory"><i class="fas fa-list"></i> Category of Product</label>
                <input type="text" class="form-control" formControlName="category">
            </div>
            <div class="col-4">
                <label for="price"><i class="fas fa-dollar-sign"></i> Price</label>
                <input type="number" class="form-control" formControlName="price">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <label for="cardNumber"><i class="fas fa-credit-card"></i> Card Number</label>
                <input type="text" class="form-control" placeholder="Enter card number" formControlName="cardNumber">
            </div>
            <div class="col-4">
                <label for="cvv"><i class="fas fa-lock"></i> CVV</label>
                <input type="text" class="form-control" placeholder="Enter CVV" formControlName="cvv">
            </div>
            <div class="col-4">
                <label for="expiryDate"> <i class="far fa-calendar-alt"></i> Expiry Date </label>
                <input type="date" class="form-control" formControlName="expiryDate">
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <label for="billingAddress"><i class="fas fa-map-marker-alt"></i> Billing Address</label>
                <textarea class="form-control" rows="2" placeholder="Enter billing address"
                    formControlName="billingAddress"></textarea>
            </div>
        </div>

        <div class="row mb-0 text-center">
            <div class="col-12">
                <label class="form-check-label" for="termsCheck">
                    <input class="form-check-input" type="checkbox" formControlName="termsCheck">
                    I have read all the terms & conditions.
                </label>
            </div>
            <div class="col-3 mt-2 mx-auto">
                <button type="submit" class="btn btn-primary btn-sm btn-block mx-auto">
                    <i class="fas fa-check"></i> Submit Payment
                </button>
            </div>
        </div>
    </form>
</div>