<div class="justify-content-center d-flex align-items-center my-5">
  <div class="mainForm w-75  p-5">
    <h2 class="text-center">Login</h2>
    <div class="form-container">
      <form [formGroup]="loginUserForm" (ngSubmit)="loginUser(loginUserForm.value)" class="registration-form">
        <div class="form-group">
          <label for="username" class="form-label">Username:</label>
          <input type="email" id="username" formControlName="username" class="form-control form-field-shadow ">
          <span *ngIf="getFormControl('username')?.invalid && getFormControl('username')?.touched" class="text-danger">
            <ng-container *ngIf="getFormControl('username')?.errors?.['required']">Username is required.</ng-container>
          </span>
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Password:</label>
          <div class="password-input">
            <input type="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"
              class="form-control form-field-shadow">
            <span class="toggle-password-btn" (click)="toggleShowPassword()">
              <i class="fas " [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </span>
          </div>
          <span *ngIf="getFormControl('password')?.invalid && getFormControl('password')?.touched"
            class="text-danger  mb-5">
            <ng-container *ngIf="getFormControl('password')?.errors?.['required']"> Password is required.
            </ng-container>
            <ng-container *ngIf="getFormControl('password')?.errors?.['minlength']">
              Password should have at least 6 characters.
              <br>
            </ng-container>
            <ng-container class="text-danger"
              *ngIf="getFormControl('password')?.errors?.['pattern'] && !getFormControl('password')?.errors?.['minlength']">
              Password should contain a special character.
            </ng-container>
          </span>
        </div>
        <div class="text-center mt-4">
          <button class="submit-btn mx-1 px-3 py-1" (click)="loginUser(loginUserForm.value)">Log in</button>
          <div *ngIf="logInFail" class="text-danger">Invalid username or password. Please try again.</div>
          <button class="submit-btn mx-1 px-2 py-1" routerLink="../register">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>

