.container {
  max-width: 600px; // Adjust the container width as per your preference
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  background-color: #f8f9fa; // Light background color
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(132, 50, 50, 0.686); // Shadow for the form
}

label {
  font-weight: bold;
}

textarea {
  resize: none; // Prevent textarea from being resized
}


// Media query for responsiveness
@media (max-width: 768px) {
  .container {
      max-width: 100%; // Full width on small screens
      padding: 10px; // Reduce padding on small screens
  }

  h1 {
      font-size: 24px; // Smaller font size for headings
  }
}
