    <div class="contact-us-container mx-auto my-4">
      <form id="contact_form" class="p-4 m-2">
        <div class="section-title-box p-2">
          <h4 class="section-title mb-4 p-2">
            <i class="fa fa-address-book m-1" aria-hidden="true"></i>Contact Form
          </h4>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-4">
            <label for="first_name">
              <i class="fa fa-user m-1" aria-hidden="true"></i> First Name
            </label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" name="first_name">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-4">
            <label for="last_name">
              <i class="fa fa-user m-1" aria-hidden="true"></i> Last Name
            </label>
          </div>
          <div class="col-md-8">
            <input type="text" class="form-control" name="last_name">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-4">
            <label for="email_addr">
              <i class="fa fa-envelope m-1" aria-hidden="true"></i> Email address
            </label>
          </div>
          <div class="col-md-8">
            <input type="email" class="form-control" name="email" placeholder="name@example.com">
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-md-4">
            <label for="phone">
              <i class="fa fa-phone m-1" aria-hidden="true"></i> Phone
            </label>
          </div>
          <div class="col-md-8">
            <input type="tel" class="form-control" name="Phone" placeholder="Phone">
          </div>
        </div>
        <div class="form-group mb-4">
          <label for="message">
            <i class="fa fa-comment m-1" aria-hidden="true"></i> Message
          </label>
          <textarea class="form-control" id="message" name="message" rows="3"  placeholder="Enter your message"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary">
            <i class="fa fa-paper-plane m-1" aria-hidden="true"></i> Submit
          </button>
        </div>
      </form>
    </div>
  