<div class="about-us-container">
    <h1 class="section-title">About Us</h1>
  
    <div class="about-us-content">
      <img class="company-logo" src="assets/logo.png" alt="Company Logo">
  
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque nunc nec augue pharetra, ut aliquam enim tristique. Morbi condimentum ante id turpis rutrum aliquam. Donec vestibulum sapien eu ligula rhoncus fringilla. Duis auctor orci a nisi vulputate, nec rhoncus mi ultrices. Vivamus pulvinar nibh quis felis varius gravida. Aliquam ac tincidunt justo. Nulla lacinia elit at suscipit ullamcorper.</p>
  
      <p>Praesent tempor bibendum facilisis. Morbi elementum mi eget tortor rhoncus, sit amet eleifend lectus posuere. Suspendisse varius congue sem, sed ultrices urna vestibulum ut. Sed sed malesuada magna. Fusce nec hendrerit purus, eget laoreet mi. In tristique mauris a lacus consectetur ultrices. Nulla vel purus sed risus dapibus efficitur. Pellentesque cursus est nec quam feugiat venenatis.</p>
    </div>
  </div>
  