<div class="container m-auto my-5">
  <div class="border p-5">
    <div class="d-flex justify-content-center mb-4">
      <h1 class="heading px-3 py-2">Update data</h1>
    </div>

    <form [formGroup]="dataForm">

      <!-- dynamic dropdown -->
      <div class="nav-item dropdown">
        <select class="form-select" *ngIf="maleDropdown">
          <option *ngFor="let optionWear of mansWearDropdown" [value]="optionWear.value"
            [selected]="optionWear.value === allData.category">{{ optionWear.label }}</option>
        </select>
      </div>

      <!-- dynamic dropdown -->
      <div class="nav-item dropdown">
        <select class="form-select" *ngIf="femaleDropdown">
          <option *ngFor="let optionWear of womensWearDropdown" [value]="optionWear.value"
            [selected]="optionWear.value == allData.category">{{ optionWear.label }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
        <div *ngIf="dataForm.get('title')?.errors && dataForm.get('title')?.touched" class="text-danger">
          Title is required.
        </div>
      </div>

      <div class="form-group">
        <label for="imageFile" class="col-form-label">Image File</label>
        <div class="input-group">
          <div *ngIf="allData.image" class="input-group-prepend updateImage mr-3">
            <img [src]="allData.image" alt="Image" class="img-thumbnail">
          </div>
          <div class="custom-file">
            <input type="file" id="fileInput" class="custom-file-input" (change)="handleFileInput($event)">
            <label for="fileInput" class="custom-file-label">Choose file</label>
          </div>
        </div>
        <div *ngIf="dataForm.get('image')?.errors && dataForm.get('image')?.touched" class="text-danger">
          Image is required.
        </div>
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        <input type="text" id="price" class="form-control" formControlName="price">
        <div *ngIf="dataForm.get('price')?.errors && dataForm.get('price')?.touched" class="text-danger">
          price is required.
        </div>
      </div>


      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" id="description" class="form-control" formControlName="description">
        <div *ngIf="dataForm.get('description')?.errors && dataForm.get('description')?.touched" class="text-danger">
          Description is required.
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary" [disabled]="dataForm.invalid" routerLink="/admin/show"
          (click)="upadateData(dataForm.value)">Update data</button>
      </div>
    </form>
  </div>
</div>