.addToCart {    
  height: fit-content;
  width: 80%;
  box-shadow: 0 0 8px rgb(220 145 145 / 52%); 
  border-radius: 7px;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: baseline;
  text-align: center;
  font-weight: 500;
}

.table th {
  background-color: rgb(201 217 255 / 22%);
}

.image {
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.701);
  border-radius: 5px;
}

.total-price {
  padding: 0.5rem; 
  background-color: rgb(235, 232, 227); 
}

  