<div class="addToCart" style="width: 68rem;">
  <table class="table">

    <thead>
      <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Image</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody *ngFor="let item of addedProducts; let i = index;">
      <tr>
        <td height="100" width="100"><b>{{i+1}}</b></td>
        <td height="100" width="230">{{item.title}}</td>
        <td height="100" width="280"><img [src]="item.image" alt="Product Image" height="100" width="85"
            [attr.src]="item.image" class="image" />
        </td>
        <td class="col-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <button class="btn btn-secondary" (click)="decrementValue(item, item.price)">-</button>
            </div>
            <input [id]="'quantityInput-' + i" type="number" class="form-control text-center"
              [(ngModel)]="item.quantity" />
            <div class="input-group-append">
              <button class="btn btn-secondary" (click)="incrementValue(item, item.price)">+</button>
            </div>
          </div>
        </td>
        <td height="100" width="150">{{ item.price | rupeeFormat }}</td>
        <td><button class="btn btn-danger" (click)="deleteProducts(item.id)">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="total-price">Total price:{{ totalprice | rupeeFormat }}
        </td>
      </tr>
    </tfoot>
  </table>
</div>